:root {
  --main-bg-color: #faf0eb;
  --second-bg-color: #332b24;
  --main-font-color: #332b24;
  --second--font-color: #07488f;
  --accidental-font-color: #ff7538;
  --accidental-style-color: #ffc7c0;
}

body, html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
}

body::before {
  background-color: var(--main-bg-color);
  /*background-image: url(./../img/istockphoto-1041266542-612x612.jpg);*/
  background-size: 50%;
  background-repeat: repeat round;
  filter: blur(10px);
}

h1 {
  color: var(--second--font-color);
  font-size: 40px;
  text-align: center;
}

h2 {
  color: var(--accidental-font-color);
  font-size: 40px;
  text-align: center;
}

h3, h4 {
  color: var(--second--font-color);
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p {
  color: var(--main-font-color);
  font-size: 20px;
}

/*a {*/
/*  color: var(--accidental-style-color);*/
/*}*/

.logo {
  position: absolute;
  z-index: 1;
  transform: translate(10px, 10px);
}

.logo img {
  width: 100px;
  height: 100px;
}

.hero img {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background: rgb(var(--main-bg-color));
  background: rgba(from var(--main-bg-color) r g b / 70%);
  color: #43b1b0;
}

.navigation_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.navigation_bar_dest {
  float: right;
}

.navigation_bar_dest a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation_bar_dest a:not(.current) {
  color: var(--second--font-color);
}

.navigation_bar .current a {
  color: var(--accidental-font-color);
}

/* Change the link color to #111 (black) on hover */
.navigation_bar_dest:hover:not(.current) {
  background-color: var(--accidental-font-color);
}

.navigation_bar .current:hover {
  background-color: var(--second--font-color);
}

.content-body {
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  width: 80%;
  /*background-color: color-mix(in srgb, var(--second-bg-color), white 70%);*/
  background-color: var(--main-bg-color);
}

.content-body .content {
  margin: 10% 10% 10% 10%;
}

